body{

    background-color: aliceblue(61,61, 163);

}

.vorm{
width: 500px;
height: 600px;
background-color: hwb(216 72% 10%);
margin-top: 30px;

border-radius: 25px;
box-shadow: 0 10px 25px #b9b1df;

}

img{

    position: absolute;
    left: 730px;
    top: 1px;
    
}

.txt{

position: absolute;
    left: 850px;
    top: 100px;

}


.lxs{

    position: absolute;
        left: 200px;
        top: 380px;
    
    }

    .name{

        position: absolute;
            left: 870px;
            top: 200px;
        
        }
    
    
